* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/hero-atelie.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

ul {
    list-style: none;
}

h1{
    position: absolute; 
    letter-spacing: 20px;
    font-weight: 300;
    top: 20%;          /* Move o texto para o meio da altura */
    left: 50%;         /* Move o texto para o meio da largura */
    transform: translate(-50%, -50%); /* Centraliza perfeitamente o texto */
    color: white;      /* Cor do texto para contraste */
    font-size: 60px;   /* Tamanho da letra */
    text-align: center;
}

.materia {
    position: absolute; /* Retira o texto do fluxo normal e o posiciona sobre a imagem */
    top: 40%;          /* Move o texto para o meio da altura */
    left: 50%;         /* Move o texto para o meio da largura */
    transform: translate(-50%, -50%); /* Centraliza perfeitamente o texto */
    color: white;      /* Cor do texto para contraste */
    font-size: 25px;   /* Tamanho da letra */
    text-align: center;
}

.estudio {
    position: absolute; /* Retira o texto do fluxo normal e o posiciona sobre a imagem */
    top: 50%;          /* Move o texto para o meio da altura */
    left: 50%;         /* Move o texto para o meio da largura */
    transform: translate(-50%, -50%); /* Centraliza perfeitamente o texto */
    color: white;      /* Cor do texto para contraste */
    font-size: 20px;   /* Tamanho da letra */
    text-align: center;
}

.ano {
    position: absolute; /* Retira o texto do fluxo normal e o posiciona sobre a imagem */
    top: 60%;          /* Move o texto para o meio da altura */
    left: 50%;         /* Move o texto para o meio da largura */
    transform: translate(-50%, -50%); /* Centraliza perfeitamente o texto */
    color: white;      /* Cor do texto para contraste */
    font-size: 20px;   /* Tamanho da letra */
    text-align: center;
}